* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color: #1C2C40;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 400;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1040px;
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}
::placeholder {
  color: #C0CCDA;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #C0CCDA;
}

::-ms-input-placeholder {
  color: #C0CCDA;
}

:root {
  --main-bg-color: #23D3D3;
  --main-heading-color:#1C2C40;
}

header{
 height: 100px;
 position: fixed;
 left: 0;
 top: 0;
 display: flex;
 justify-content: space-between;
 background-color: #fff;
 width: 100%;
 padding: 0 32px;
 align-items: center;
 position: relative;
 z-index: 1;
}

header div.left{
	display: flex;
}

header div.left h1{
	width: 110px;
	margin-right: 40px;
}

header div.left h1 a{
	display: block;
}

header div.left h1 a img{
	display: block;
	width: 100%;	
}

header div.left ul{
	display: flex;
	align-items: center;
}

header div.left ul li{
	margin-right: 40px;
}
header div.left ul li:last-child{
	margin-right: 0;
}

header div.left ul li a{
letter-spacing: 0.5;
}

header div.right ul{
	display: flex;
	align-items: center;
}

header div.right ul li{
	margin-right: 40px;
}

header div.right ul li:last-child{
	margin-right: 0;
}


header div.right ul li a{
	letter-spacing: 0.5px;
}

header div.right ul li a.button{
	padding: 12px 22px;
	border-radius: 35px;
	display: inline-block;
	background:var(--main-bg-color);
	color: #fff;
}

#spotlight {
    padding-top: 105px;
    background: url(../images/bg.jpg)no-repeat;
    background-size: 875px;
    background-position: right 15px bottom -100px;
    height: 680px;
    position: relative;
    z-index: 1;
    background-color: #fff;
}

#spotlight section.container{
	width: 47%;
	padding-top: 105px;
}

#spotlight section.container h1{
	font-size: 53px;
	margin-bottom: 20px;
	font-weight: 700;
}

#spotlight section.container p{
	margin-bottom: 40px;
	font-size: 20px;
}

#spotlight section.container a.button{
	padding: 20px 30px;
	border-radius: 35px;
	display: inline-block;
	margin-bottom: 20px;
	background: var(--main-bg-color);
}

#spotlight section.container div{
	display: flex;
	align-items: center;
}

#spotlight section.container div img{
	margin-left: 15px;
}

#services { 
	padding-top: 140px;
	position: relative;
	z-index: 1;
	background-color: #fff;
}

#services section.top { 
	margin-bottom: 60px;
	text-align: center;
}

#services section.top div.arrow { 
	margin-bottom: 40px;
}

#services section.top div.arrow img { 
	box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.3);
	border-radius: 50%;
}

#services section.top h6 { 
	font-size: 18px;
	margin-bottom: 40px;
	font-weight: 500;
}

#services section.top h3 { 
	width: 600px;
	margin: 0 auto;
	font-size: 53px;
	font-weight: 700;
}

#services section.content { 
	background: url(../images/whatis-bg.jpg)no-repeat;
	background-position: right -17px center;
	margin-top: 60px;
	background-size:auto 80%;
}

#services section.content div.items{
	max-width: 360px;
}

#services section.content div.item { 
	margin-bottom: 120px;
}


#services section.content div.item h4 { 
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 700;
}

#services section.content div.item h4 span.label { 
	background: var(--main-bg-color);
	padding: 6px 10px 3px;
	border-radius: 4px;
	display: inline-block;
	font-size: 19px;
	color: #fff;
	margin-right: 10px;
}	

#services section.content div.item p { 
	font-size: 20px;
	margin-bottom: 30px;
}

#services section.content div.item a.button { 
	font-size: 15px;
	font-weight: 700;
	padding: 8px 15px;
	border-radius: 20px;
	border: 2px solid #444;
	display: inline-block;
}

#services hr.line{
	border-bottom: .5px dotted #444;
	margin:0 20%;
}

#middle { 
	padding-top: 120px;
	padding-left: 20%;
	padding-right: 20%;
	background-color: #fff;
	position: relative;
	z-index: 1;
}

#middle ul { 
	display: flex;
	justify-content: space-between;
}

#middle ul li:nth-child(odd){
	margin-top: 80px;
}

#middle ul li a { 
	display: inline-block;
}

#middle ul li a img { 
	display: inline-block;
	border-radius: 50%;
}

#middle .content { 
	margin-top: 130px;
	margin-bottom: 120px;
	text-align: center;
}

#middle .content h4 { 
	font-size: 53px;
	font-weight: 700;
	max-width: 700px;
	margin-bottom: 60px;
}

#middle .content p { 
	font-size: 20px;
	line-height:1.7em ;
	max-width: 500px;
	margin: 0 auto;
	color: #5a6679;
}

#middle hr.line{
	border-bottom: 1px dotted #444;
	margin:0 20%;
	
	 
}

#textimonials { 
	padding: 80px 0 120px;
	background: #fff;
	position: relative;
	z-index: 1;
	
}

#textimonials { 
	
}

#textimonials .container div.item{
	text-align: center;
}

#textimonials .container div.item p { 
	font-size: 28px;
	max-width: 500px;
	margin: 0 auto;
	font-weight: 700;
}

#textimonials .container div.item img { 
	border-radius: 50%;
	height: 80px;
	width: 80px;
	margin: 60px 0 40px;
}

#textimonials .container div.item .name { 
	font-size: 18px;
	margin-bottom: 8px;
	font-weight: 500;
}

#textimonials .container div.item .address { 
	font-size: 16px;
	color: #8492A6;
}

#textimonials hr.line{
	border-bottom: .5px dotted #444;
	margin:0 20%;
	padding-top: 140px;
	
	
}

#user_cout{ 
	text-align: center;
	padding-bottom: 100px;
	padding-left: 20%;
	padding-right: 20%;
	background-color: #fff;
	position: relative;
	z-index: 1;
}


#user_cout img{ 
	max-width: 360px;
	width: 100%;
	display: block;
	margin: 0 auto;
	margin-bottom: 60px;
}	

#user_cout p{ 
	margin-bottom: 60px;
	font-size: 16px;
	color: #5a6679;
}

#user_cout a{ 
	font-weight: 700;
	display: inline-block;
	color: #fff;
	background-color: var(--main-bg-color);
	border-radius: 8px;
	padding: 18px 0;
	width: 160px;
}

#faq { 
	padding: 120px 0;
	background: #ecf9ff;
	position: relative;
	z-index: 1;
}

#faq .top { 
	margin-bottom: 40px;
}

#faq .top h3 { 
	font-size: 30px;
	font-weight: 700;
	max-width: 300px;
}


#faq .content .tab_head ul { 
	display: flex;
}

#faq .content .tab_head ul li { 
	width: 33.33%;
}

#faq .content .tab_head ul li a { 
	font-size: 20px;
	font-weight: 600;
	color: #8492a6;
	padding: 20px 60px 20px 40px;
	border-bottom: 1px solid rgba(28, 44, 64,.1);
	display: inline-block;
	width: 100%;
}

#faq .content .tab_head ul li a.acitive{
	color: #37d7d8;
	border-bottom: 1px solid #37d7d8;
}

#faq .content .tab_head ul li a:hover{
	color: #37d7d8;
	border-bottom: 2px solid #37d7d8;
}

#faq .content .tab_body .item ul { 
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#faq .content .tab_body .item ul li { 
	width: 32%;
	border-bottom: 1px solid rgba(28, 44, 64,.1);
	padding: 60px 30px 30px;
}

#faq .content .tab_body .item ul li h4 { 
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}

#faq .content .tab_body .item ul li p { 
	font-size: 18px;
	color: #5a6679;
}

#faq .bottom { 
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid rgba(28, 44, 64,.1);
}

#faq .bottom .container { 
	width: 33%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#faq .bottom .content { 
	width: 67%;
	display: flex;
	justify-content:space-between;
	align-items: center;
}


#faq .bottom .content .item img { 
	display:block;
	margin-bottom: 20px;
}

#faq .bottom .content .item a { 
	color: #37d7d8;
	font-size: 17px;

}

#faq .bottom .content .item p{
	font-size: 17px;
}

#press { 
	background: #ecf9ff;
	padding-bottom: 120px;
	position: relative;
	z-index: 1;
}
#press section.wrapper{ 
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#press div.left { 

}

#press div.left h4 { 
	font-size: 28px;
	margin-right: 30px;
	font-weight: 700;
	white-space: nowrap;
}

#press div.right { 

}

#press div.right ul { 
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#press div.right ul li { 
	width: 33.33%;
	padding: 30px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#press div.right ul li img { 
	border-radius: 50%;
	width: 100px;
	margin-right: 20px;
}

#press div.right ul li span { 

}

#promo { 
	background-color: var(--main-bg-color);
	padding: 120px 0;
	position: relative;
	z-index: 1;
}

#promo section.wrapper { 

}

#promo section.wrapper section.top { 
	text-align: center;
}

#promo section.wrapper section.top h2 { 
	font-weight: 700;
	font-size: 40px;
	max-width: 300px;
	margin: 0 auto 40px;
}

#promo section.wrapper section.top a { 
	width: 160px;
	padding: 18px 0;
	background: #fff;
	border-radius: 8px;
	display: inline-block;
	color: var(--main-bg-color);
}

#promo section.wrapper section.bottom { 
	margin-top: 180px;
}

#promo section.wrapper section.bottom ul { 
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#promo section.wrapper section.bottom ul li { 
	width: 22%;
	display: flex;
	align-items: flex-start;
}

#promo section.wrapper section.bottom ul li img { 
	width: 18px;
	display: inline-block;
}

#promo section.wrapper section.bottom ul li small { 
	color: #5a6679;
	padding: 0 30px 0 15px;
	max-width: 240px;
	font-weight: 400;
	line-height: 1.7em;
}

footer { 
	background-color: #252e43;
	padding: 120px 0;
	position: relative;
	z-index: 1;
}


footer section.top { 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 80px;
}

footer section.top div.item { 
	width: 20%;
}

footer section.top div.item.large{
	width: 32%;
}
/* footer section.top div.item.one{
	margin-top: 80px;
} */

footer section.top div.item:last-child{
	width: 28%;
}

footer section.top div.item h1 { 
	width: 105px;
	margin-bottom: 40px;
}

footer section.top div.item h1 a { 
	width: 100%;
	display: block;
}

footer section.top div.item h1 a img { 
	width: 100%;
	display: block;
}


footer section.top div.item h3 { 
	color: #fff;
	font-size: 20px;
	margin-bottom: 20px;
	font-weight: 600;
}

footer section.top div.item ul li a { 
	padding: 6px 0;
}


footer section.top div.item ul li a { 
	color: #98a3b2;
	display: inline-block;
	font-size: 15px;
	
}


footer section.top div.item p { 
	margin-bottom: 20px;
	color: #98a3b2;
}

footer section.top div.item form { 
	position: relative;
}

footer section.top div.item form input { 
	width: 100%;
	padding-left: 15px;
	padding-right: 45px;
	height: 50px;
	font-size: 16px;
	display: block;
	background-color: #3c4858;
	border-radius: 8px;
	outline: none;
	border: 0;

}

footer section.top div.item form button { 
	position: absolute;
	left: 256px;
    top: 15px;
}

footer section.top div.item form button img { 
	width: 18px;
	display: inline-block;
	transform: rotate(-90deg);
}

footer section.bottom { 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

footer section.bottom p.left { 
	color: #98a3b2;
}

footer section.bottom p.left a{
	color: #23D3D3;
}

footer section.bottom div.social { 
	
}

footer section.bottom div.social ul { 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

footer section.bottom div.social ul li { 
	margin-right: 10px;
}
footer section.bottom div.social ul li :last-child { 
	margin-right: 0;
}

footer section.bottom div.social ul li a { 
	display: block;
}

footer section.bottom div.social ul li a img { 
	width: 18px;
	display: inline-block;
}

#mask { 
	height: 100vh;
	z-index: -2;
	position:relative;
}

#cover { 
	height: 100vh;
	background: url(../images/mobile-devices-bg-2.jpg) no-repeat ;
	background-size: contain;
	padding: 80px 0;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
}

#cover section.content { 
	margin-left: 50%;
}

#cover section.content h2 { 
	color: #1c2c40;
	font-weight: 700;
	font-size: 53px;
	max-width: 400px;
	margin-bottom: 40px;
	line-height: 1.4em;
}

#cover section.content p { 
	margin-bottom: 40px;
	max-width: 440px;
	line-height: 1.8em;
	color: #8a6679;	
}

#cover section.content a.button { 
	height: 52px;
	width: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	background: #1c2c40;
	color: #fff;
	border-radius: 8px;
}

#cover section.content a.button img { 
	width: 20px;
	margin-left: 15px;
    display:inline-block;
}


@media all and (max-width: 960px){
	header{
		justify-content: center;
	}
	header div.right ul{
		display: none;
	}

	#spotlight{
		background: #fff;
		height: auto;
	}

	header div.left ul{
		display: none;
	}

	#services section.content{
		background: #fff;
		height: auto;
	}

	#services section.content div.items{
		max-width: 80%;
	}

	#services section.content div.item{
		margin-bottom: 80px;
	}

	#middle {
		padding-left: 10%;
		padding-right: 15%;
	}

	#faq .bottom .content {
		justify-content: space-around;
	}

	#faq .content .tab_head ul li a{
		font-size: 17px;
	}

	#faq .content .tab_body .item ul li h4{
		font-size: 20px;
	}

	#faq .content .tab_body .item ul li p{
		font-size: 15px;
	}


	#faq .bottom .content .item p {
		font-size: 10px;
	}

	#faq .bottom .content .item a{
		font-size: 12px;
	}

	#press div.right ul li{
		width: 50%;
	}

	#promo section.wrapper section.bottom ul{
		flex-wrap: wrap;
		margin-bottom: -20px;
	}

	#promo section.wrapper section.bottom ul li{
		width: 48%;
		margin-bottom: 20px;
	}

	footer section.top{
		flex-wrap: wrap;
		margin-bottom: -30;
	}

	footer section.top div.item{
		width: 40%;
		margin-bottom: 30px;
	}

	footer section.top div.item:last-child{
		width: 60%;
	}

	footer section.top div.item form button {
		left: 370px;
	}

	footer section.top div.item.large{
		width: 60%;
	}

	#mask{
		display: none;
	}
	#cover{
		display: none;
	}

	footer section.top div.item form button {
		display: none;
	}
}

@media all and (max-width: 768px){
	#spotlight section.container {
		width: 100%;
		padding-top: 106px;
	}

	#services {
		padding-top: 100px;
	}

	#services section.top h3{
		width: 500px;
		font-size: 40px;
	}

	#textimonials{
		padding-left: 10%;
	    padding-right: 10%;
	}

	#faq .content .tab_head ul {
		flex-wrap: wrap;

	}

	#faq .content .tab_head ul li{
		width: 100%;
	}

	#faq .content .tab_body .item ul li {
		width: 48.5%;
	}

	#faq .bottom .content {
		flex-wrap: wrap;
		padding-left: 20px;
	}

	#faq .bottom .content .item{
		width: 100%;
		margin-top: 30px;
	}

	#faq .bottom .content .item:first-child{
		margin-top: 0;
	}

	#press section.wrapper{
		flex-wrap: wrap;
	}

	#press div.left {
		width: 100%;
	}

	#press div.right{
		width: 100%;
	}


@media all and (max-width: 640px){
	#spotlight section.container{
		padding-top: 0;
	}

	#services section.top h3 {
		width: 400px;
		font-size: 30px;
	}

	#spotlight section.container h1 {
		font-size: 37px;
	}

	#spotlight section.container a.button {
		padding: 15px 25px;
	}

	#middle ul{
		flex-wrap: wrap;
	}

	#middle ul li:nth-child(odd){
		margin-top: 0;
	}

	#middle ul li{
		margin-bottom: 30px;
	}

	#middle ul li:last-child{
		margin-bottom: 0;
	}

	#middle .content h4{
		font-size: 42px;
	}
	#middle .content p {
		font-size: 16px;
	}

	#textimonials .container div.item p{
		font-size: 20px;
	}

	#textimonials .container div.item img {
		border-radius: 50%;
		height: 70px;
		width: 70px;
		margin: 45px 0 30px;
	}

	#textimonials hr.line{
		padding-top: 100px;
	}

	#user_cout a {
		width: 140px;
		padding: 15px 0;
	}

	#press div.right ul li{
		width: 100%;
	}

	#press div.right ul li{
		justify-content: flex-start;
	}
}


@media all and (max-width: 480px){
	#services section.top h3{
		width: 345px;
		font-size: 26px;
	}

	#middle{
		padding-top: 70px;
	}

	#middle .content {
		margin-top: 80px;
		margin-bottom: 70px;
	
	}

	#middle .content h4{
		font-size: 35px;
	}

	#middle .content p {
		font-size: 15px;
	}

	#faq .content .tab_body .item ul li{
		padding: 50px 10px 10px;
	}

	#faq .bottom .container{
		display: none;
	}
	#faq .bottom{
		padding: 120px 0;
	}
	#promo section.wrapper section.top h2 {
		font-weight: 700;
		font-size: 30px;
		max-width: 212px;
		margin: 0 auto 40px;
		line-height: 40px;
	}
	#promo section.wrapper section.bottom {
		margin-top: 100px;
	}

	#promo section.wrapper section.top a{
		width: 120px;
		padding: 10px 0;
	}

	footer {
		padding: 60px 0;
	}

	footer section.top{
		margin-bottom: 60px;
	}
}

@media all and (max-width: 360px){
	#spotlight {
		padding-top: 30px;
	}

	#spotlight section.container h1{
		font-size: 30px;
	}

	#spotlight section.container p {
		font-size: 15px;
	}

	#spotlight section.container a.button {
		padding: 10px 20px;
	}

	#services{
		padding-top: 80px;
	}

	#services section.top h3{
		width: 285px;
		font-size: 24px;
	}

	#services section.content div.item h4{
		font-size: 20px;
	}

	#services section.content div.item p{
		font-size: 17px;
	}

	#faq .content .tab_body .item ul li{
		padding: 50px 0;
	}
	#promo{
		padding: 70px 0;
	}

	#faq{
		padding: 70px 0;
	}

	#press{
		padding-bottom: 70px 0;
	}

	footer section.top div.item.large{
		width: 100%;
	}

	footer section.top div.item{
		width: 100%;
	}

	footer section.top div.item:last-child{
		width: 100%;
	}

	#faq .content .tab_body .item ul li{
		width: 100%;
	}

	#textimonials {
		padding: 60px 0 ;
	}

	#textimonials hr.line {
		padding-top: 50px;
	}

	#middle .content{
		margin-top: 20px;
	}


}

